data/*
build/*
!build/bitcoin/
build/bitcoin/*
!build/bitcoin/Dockerfile
bin/*
logs/*
local/*
.tmp/*
node_modules
__pycache__
.pytest_cache
.env
config/*/.env
compose.override.yml
*.log
*.db
NOTES.md
TODO.md
